---
import Layout from '../../layouts/Layout.astro';
import '@/styles/globals.css';
import { Header } from '@/components/best-coast/Header';
import { Hero } from '@/components/best-coast/Hero';
import { About } from '@/components/best-coast/About';
import { CTAButtons } from '@/components/best-coast/Schedule';
import { Sponsors } from '@/components/best-coast/Sponsors';
import { FAQ } from '@/components/best-coast/FAQ';
import { Rules } from '@/components/best-coast/Rules';
import { Prizes } from '@/components/best-coast/Prizes';
import { Contact } from '@/components/best-coast/Contact';
---

<Layout>
	<Header client:load/>
	<main>
		<Hero client:load/>
		<About client:load/>
		<CTAButtons client:load/>
		<Sponsors client:load/>
		<FAQ client:load/>
		<!-- <Rules client:load/> -->
		<!-- <Prizes client:load/> -->
	</main>
	<Contact client:load/>
</Layout> 