---
import Layout from '../../../layouts/Layout.astro';
import '@/styles/globals.css';
import { Header } from '@/components/ivy-plus-2025/Header';
import { Hero } from '@/components/ivy-plus-2025/Hero';
import { About } from '@/components/ivy-plus-2025/About';
import { Schedule } from '@/components/ivy-plus-2025/CTAButtons';
import { Sponsors } from '@/components/ivy-plus-2025/Sponsors';
import { FAQ } from '@/components/ivy-plus-2025/FAQ';
import { Rules } from '@/components/ivy-plus-2025/Rules';
import { Prizes } from '@/components/ivy-plus-2025/Prizes';
import { Contact } from '@/components/ivy-plus-2025/Contact';
---

<Layout>
	<Header client:load/>
	<main>
		<Hero client:load/>
		<About client:load/>
		<Schedule client:load/>
		<Sponsors client:load/>
		<FAQ client:load/>
		<Rules client:load/>
		<Prizes client:load/>
	</main>
	<Contact client:load/>
</Layout>