<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="LiveAI is a multi-campus hybrid hackathon that invites you to join us at either of our host campuses, Duke University (LIVE AI Duke) and Harvard University (LIVE AI Harvard), as well as online (LIVE AI Global) in February 2025! Both LIVE AI Duke and LIVE AI Harvard will provide full in-person hackathon experiences, and all three communities will connect with each other through speaker panels and fun activities." />
		<meta name="keywords" content="LiveAI, hackathon, Duke University, Harvard University, hybrid, in-person, online, speaker panels, fun activities" />
		<meta name="author" content="LiveAI" />
		<meta name="robots" content="index, follow" />
		<title>LIVE AI</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<!-- <style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style> -->
